body {
  font-family: Arial, Helvetica, sans-serif;
}

/* #header-sect {
  background-image: url("Assets/airbnb/assets/imgs/homepage/homepage-header.jpg");
  background-color: #cccccc;
  height: 100vh;
  width: 100vw;
} */

#header-sect div#covid-link {
  background-color: rgb(41, 37, 37);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

#header-sect div#covid-link a {
  color: rgb(255, 255, 255);
  /* margin-top: 20px; */
  text-decoration: underline;
}

#homepage-header {
  /* position: absolute; */
  height: 100vh;
  width: 100%;
  object-fit: cover;
  display: inline;
  z-index: -1;
}

.header-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  height: 60px;
}

.header-container .searchbar {
  color: black;
  font-size: 23px;
}

.search-icon {
  color: red;
  padding-right: 5px;
}

.searchbar {
  display: flex;
  width: 100%;
  height: 100%;
}

.searchbar div:first-child {
  width: 10%;
  background-color: white;
  border-radius: 30px 0 0 30px;
}

.searchbar div.search-text {
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar div:last-child {
  width: 10%;
  background-color: white;
  border-radius: 0 30px 30px 0;
}

.tagline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.5rem;
}

.header-tagline {
  position: absolute;
  top: 300px;
  margin: auto;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.header-tagline p {
  /* text-align: center; */
  justify-content: center;
  align-items: center;
}

.header-tagline button {
  background-color: white;
  margin-top: 20px;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  border: none;
  color: rgb(221, 5, 221);
  font-size: 20px;
  font-weight: 600;
}

.section-heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.explore-card {
  display: flex;
  flex-direction: row;
  background-color: rgba(100, 97, 97, 0.267);
  color: black;
  width: 92%;
  height: 4rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.explore-text h5,
#discover-experiences h5 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 0.5;
  margin-top: 1rem;
}

.explore-text h6,
#discover-experiences h6 {
  font-size: 0.8rem;
  /* line-height: 0; */
}

.explore-card img {
  margin-right: 10px;
  width: 4rem;
  border-radius: 12%;
}

#live-anywhere img,
#discover-experiences img {
  width: 100%;
  border-radius: 4%;
}

#live-anywhere h4 {
  font-size: 1rem;
  font-weight: 600;
}

/* #greatest-outdoors {
  height: 100px;
} */

#greatest-outdoors img {
  height: 32rem;
  /* border-radius: 6%; */
  object-fit: cover;
  object-position: 50% 120%;
}

#try-hosting img {
  border-radius: 6%;
}
